.root {
  cursor: text;
  color: #000000 !important;
  font-size: 1.5em !important;
}

.root * {
  font-size: inherit !important;
}

.root > *:first-child {
  margin-block-start: 0 !important;
}

.root > *:last-child {
  margin-block-end: 0 !important;
}

.root blockquote > p {
  margin-block: 0 !important;
}
